.relative {
  position: relative
}

.m-4 {
  margin: 1rem
}

.-mx-4 {
  margin-left: -1rem;
  margin-right: -1rem
}

.-mx-6 {
  margin-left: -1.5rem;
  margin-right: -1.5rem
}

.mb-6 {
  margin-bottom: 1.5rem
}

.mt-3 {
  margin-top: 0.75rem
}

.mt-4 {
  margin-top: 1rem
}

.flex {
  display: flex
}

.h-14 {
  height: 3.5rem
}

.w-40 {
  width: 10rem
}

.w-\[60rem\] {
  width: 60rem
}

.w-\[45rem\] {
  width: 45rem
}

.w-\[5-rem\] {
  width: 5-rem
}

.w-\[55rem\] {
  width: 55rem
}

.max-w-40 {
  max-width: 10rem
}

.flex-1 {
  flex: 1 1 0%
}

.flex-none {
  flex: none
}

.flex-row {
  flex-direction: row
}

.flex-col {
  flex-direction: column
}

.items-center {
  align-items: center
}

.justify-between {
  justify-content: space-between
}

.gap-12 {
  gap: 3rem
}

.gap-4 {
  gap: 1rem
}

.gap-6 {
  gap: 1.5rem
}

.overflow-visible {
  overflow: visible
}

.rounded-full {
  border-radius: 9999px
}

.rounded-lg {
  border-radius: 0.5rem
}

.rounded-md {
  border-radius: 0.375rem
}

.rounded-t-lg {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem
}

.rounded-b-lg {
  border-bottom-right-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem
}

.bg-\[\#03396D\] {
  --tw-bg-opacity: 1;
  background-color: rgb(3 57 109 / var(--tw-bg-opacity))
}

.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity))
}

.bg-slate-400 {
  --tw-bg-opacity: 1;
  background-color: rgb(148 163 184 / var(--tw-bg-opacity))
}

.bg-black {
  --tw-bg-opacity: 1;
  background-color: rgb(0 0 0 / var(--tw-bg-opacity))
}

.bg-slate-100 {
  --tw-bg-opacity: 1;
  background-color: rgb(241 245 249 / var(--tw-bg-opacity))
}

.p-2 {
  padding: 0.5rem
}

.p-4 {
  padding: 1rem
}

.p-6 {
  padding: 1.5rem
}

.px-4 {
  padding-left: 1rem;
  padding-right: 1rem
}

.px-6 {
  padding-left: 1.5rem;
  padding-right: 1.5rem
}

.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem
}

.text-center {
  text-align: center
}

.text-2xl {
  font-size: 1.5rem;
  line-height: 2rem
}

.text-4xl {
  font-size: 2.25rem;
  line-height: 2.5rem
}

.text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem
}

.text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem
}

.font-bold {
  font-weight: 700
}

.font-medium {
  font-weight: 500
}

.font-semibold {
  font-weight: 600
}

.text-\[\#03396D\] {
  --tw-text-opacity: 1;
  color: rgb(3 57 109 / var(--tw-text-opacity))
}

.text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity))
}
